[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dsa"]
	path = dsa
	url = https://github.com/cran/dsa
[submodule "seastests"]
	path = seastests
	url = https://github.com/cran/seastests
[submodule "tssim"]
	path = tssim
	url = https://github.com/cran/tssim
